/* Fonts are copy pasted from Google styles, + font-display: swap; */

/* PT_Serif normal */
@font-face {
  font-display: swap;
  font-family: 'PT_Serif';
  font-style: normal;
  font-weight: 400;
  src: url(./files/PT_Serif-Web-Regular.ttf) format('ttf');
}
/* Poppins bold */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url(./files/Poppins-Black.ttf) format('ttf');
}
