/* Fonts are copy pasted from Google styles, + font-display: swap; */

/* PT_Serif italic */
@font-face {
  font-display: swap;
  font-family: 'PT_Serif';
  font-style: italic;
  font-weight: 400;
  src: url(./files/PT_Serif-Web-Italic.ttf) format('ttf');
}
/* PT_Serif normal */
@font-face {
  font-display: swap;
  font-family: 'PT_Serif';
  font-style: normal;
  font-weight: 700;
  src: url(./files/PT_Serif-Web-Regular.ttf) format('ttf');
}
/* PT_Serif Bold Italic*/
@font-face {
  font-display: swap;
  font-family: 'PT_Serif';
  font-style: italic;
  font-weight: 700;
  src: url(./files/PT_Serif-Web-BoldItalic.ttf) format('ttf');
}
